.bundle
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.metals
.vscode
.envrc
.bash_history
yaacc/release
build
*.*_bak
**/target
target
tmp
*~
lib
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
project.properties
*.iws
*.iml
gen
*/seed.txt
notes
logs
gen-external-apklibs
.idea
out
.DS_Store
.project
.classpath
.settings
.externalToolBuilders
.vagrant
local.properties
*.bak
*.log
*.orig
.directory
*/build
.gradle
